/*Title*/
#title
{
    padding-left: 15%;
    padding-right: 5%;
    background-color: #ff3c68;
    color: #fff; 

}
.title
{
    font-family: 'Montserrat-Black';
    font-size: 3rem;
    line-height: 1.5;
    padding-top: 10%;
}
.title-image
{
    width: 60%;
    rotate: 25deg;
    position: relative;

}
body
{
    font-family:'Montserrat', sans-serif;
}


/*Nav Bar*/
.navbar-brand
{
    font-family:'Ubuntu', sans-serif;
    font-size: 50%; 
    font-weight: bold;
}
.navbar
{
    padding-bottom: 4.5rem;
}
.nav-item
{
    padding:0.18px;
    margin-right: 15%;
}
.nav-link
{
    font-size: 20px;
    font-family:'Montserrat-Light';
    padding-right: 50px;
    line-height: 100px;
   
}
.ml-auto
{
    margin-left: 60%;
}
.download-button
{
    height: 40px;
    width: 140px;    
    margin: 5% 3% 0% 0%;
}
i
{
    margin-right:5%;
}

/*Features*/
.confeatures
{
    
    background-color: white;
    padding-top: 15%;
    padding-bottom: 20%;   
    margin-top: -200px;
    margin-bottom: 5%;
    position: relative;
}
.featur
{
    background-color: white;
    margin-left: 15% ;
    float: left;
    text-align: center;
    
}
h3
{
    font-family:'Montserrat-Light';
}
p
{
    color: darkgrey;
}

/*Testimonials*/
#testimonials
{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
    padding: 7% 15%;
}
.testimonial-text
{
    font-family: 'Montserrat-Blod';
    font-size: 3rem;
    line-height: 1.5; 
}
.testimonial-image
{
    width: 10%;
    border-radius: 100%;
    margin: 20px;    
}



/*Press*/
#press
{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo
{
    width: 15%;
    margin: 20px 20px 50px;
}


/*Pricing*/
.text
{
    padding-top: 5%;
    text-align: center;
}
.textA
{
    font-family: 'Montserrat-Black';
    font-size: 3rem;
    line-height: 1.5; 
}
.textB
{
    color: darkgray;
}

.card
{
    width: 25%;
    margin: 5% 1% 5% 5%;    	
    text-align: center;    
    float: left;
}
.card-header
{
    font-family: 'Montserrat-Black';
    font-size: 1.5rem;
}
.card-title
{
    font-family: 'Montserrat-Black';
    font-size: 3rem;
    line-height: 1.5;
}
.card-text
{
    color: darkgray;
}
.button
{
    width: 100%;
}

/*Call to Action*/
#cta
{
    clear:both;
    background-color: #ff3c68;
    color: #fff;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}
.cta-text
{
    
    font-family: 'Montserrat-Black';
    font-size: 3rem;
    line-height: 1.5;
}



/*Footer*/
#footer
{
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}
.icon
{
    margin-right: 1%;
    margin-bottom: 1%;
}